## General
.DS_Store
.vscode/
Thumbs.db

## Python
__pycache__/
*.py[cod]

## Node
node_modules/

## Logs
logs/
*.log
.vscode/
Thumbs.db
desktop.ini
node_modules/
dist/
build/
*.log
*.env
__pycache__/
*.pyc
.DS_Store
